name: Build + Test
on: [pull_request]

jobs:
  build:
    name: Build + Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.4', '2.5', '2.6' ]

    steps:
    - uses: actions/checkout@master
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}       
    - name: Build and test with Rake
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3 --without guard
        bundle exec rspec spec
        bundle exec rubocop 
