name: Build + Test
on: [pull_request, push]

permissions:
  contents: read

jobs:
  build:
    name: Build + Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.6', '2.7', '3.0', '3.1', '3.2', '3.4', '4.0.0-preview2' ]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c #v1.269.0 tag
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Build and test with Rake
      run: |
        bundle exec rubocop
        bundle exec rspec spec
